# Yarn PnP files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build output
dist/
*.tsbuildinfo

# Legacy (not used with PnP)
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
